<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block page_title %} {% endblock page_title %}</title>
  <link rel="stylesheet" href="{{ get_url(path='base.css')}}">
  {% block stylesheet %} {% endblock stylesheet %}
</head>

<body>
  <header>
      <div><h2 class="home"><a href="{{ get_url(path='/') }}">Asher Bernstein-Meachum</a></h2></div>
      <nav>
        <p class="nav-item"><a href="{{ get_url(path='@/info/about.md') }}">About</a></p>
        <p class="nav-item"><a href="{{ get_url(path='@/real_blog/_index.md') }}">Blogs</a></p>
        <p class="nav-item"><a href="{{ get_url(path='@/projects/_index.md') }}">Projects</a></p>
      </nav>
  </header>

  <main>
    <section class="section">
      <div class="container">
        {% block content %} {% endblock content %}
      </div>
    </section>
  </main>

  <footer>
    <section class="credits">
      <p>© 2026 Asher Bernstein-Meachum</p>
      <p><i>Powered by</i> <a href="https://getzola.org">Zola</a></p>
    </section>
  </footer>
</body>
</html>