{% extends "base.html" %}

{% block page_title %}
{{ section.title }} @ Asher Bernstein-Meachum
{% endblock page_title %}

{% block content %}
<h1 class="title">
  {{ section.title }}
</h1>
<p>This part will be updated with previews and pagination at some point. In the meantime, enjoy your list of links.</p>
<ul>
  <!-- If you are using pagination, section.pages will be empty.
       You need to use the paginator object -->  
  {% for page in section.pages %}
  <li><a href="{{ page.permalink | safe }}">{{ page.title }}</a></li>
  {% endfor %}
</ul>
{% endblock content %}